* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pics {
    margin-top: -25%;
    border-radius: 150px;
}
.logo {
    /* height: 60px; */
    width: 80px;
    border-radius: 100px;
}
tr {
    background-color: rgb(143, 139, 139);
}
.main {
    margin: 0;
}
/* mediaquery */
@media screen and (max-width: 576px) {
    nav {
        width: 100%;
    }
}
